version: '3.8'

networks:
  {{ logging_network_name }}:
    driver: bridge

services:
  loki:
    image: grafana/loki:latest
    container_name: {{ loki_container_name }}
    ports:
      - "{{ loki_port }}:3100"
    volumes:
      - loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - {{ logging_network_name }}

  promtail:
    image: grafana/promtail:latest
    container_name: {{ promtail_container_name }}
    depends_on:
      - {{ loki_container_name }}
    volumes:
      - /var/log:/var/log
      - {{ promtail_config_path }}:/etc/promtail
    command: -config.file=/etc/promtail/config.yml
    networks:
      - {{ logging_network_name }}

volumes:
  loki_data:
