---
# tasks file for logging

- name: Install Python dependencies for Docker
  apt:
    name:
      - python3-pip
      - python3-setuptools
      - python3-venv
    state: present
    update_cache: true

- name: Install docker SDK for Python
  pip:
    name:
      - docker
      - docker-compose
    state: present

- name: Create logging directory
  file:
    path: "{{ logging_compose_path }}"
    state: directory
    mode: '0755'

- name: Create Promtail config directory
  file:
    path: "{{ promtail_config_path }}"
    state: directory
    mode: '0755'

- name: Create Loki data directory
  file:
    path: "{{ loki_data_path }}"
    state: directory
    mode: '0755'

- name: Deploy docker-compose for logging
  template:
    src: "{{ logging_compose_template }}"
    dest: "{{ logging_compose_path }}/docker-compose.yml"

- name: Start logging stack with Docker Compose
  community.docker.docker_compose:
    project_src: "{{ logging_compose_path }}"
    state: present

